POSTGRES_USER=julio_admin
POSTGRES_PASSWORD=change_me_db_password
POSTGRES_DB=erp_universitario

JWT_SECRET=change_me_jwt_secret
TOKEN_TTL=2h
ALLOWED_ORIGINS=https://localhost,https://127.0.0.1

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/REPLACE/ME
DISCORD_WEBHOOK_BRIDGE_URL=http://tfg_discord_webhook_relay:8080/alert
